<div class="product-list">
    <!-- Product 1: Vivo V30e -->
    <div class="product-card">
      <div class="product-image">
        <img src="assets/vivo-v30e.jpg" alt="Vivo V30e">
      </div>
      <div class="product-details">
        <h2>Vivo V30e 128 GB Storage Velvet Red (8 GB RAM)</h2>
        <p class="offer-badge"><img src="assets/discount.png" alt="Home Icon" class="icon-home" />Up to 20% Off</p>
        <p><b>No Cost EMI Starts From:<br>₹1,999/month</b> </p>
        <p class="payment-options">0 Down Payment</p>
        <button class="view-offers-btn">View Offers</button>
      </div>
      <div class="product-availability">
        <p><img src="assets/home.png" alt="Home Icon" class="icon-home" /> Sold at stores near you

      <p> <img src="assets/service.jpg" alt="Home Icon" class="icon-home" />Services at store: Exchange, Phone setup</p>
    </div>
    </div>
  
    <!-- Product 2: One Plus 11 -->
    <div class="product-card">
      <div class="product-image">
        <img src="assets/black-img.png" alt="OnePlus 11 5G">
      </div>
      <div class="product-details">
        <h2>OnePlus 11 5G (Lavender, 8 GB RAM, 256 GB Storage)</h2>
        <p class="offer-badge"><img src="assets/discount.png" alt="Home Icon" class="icon-home" />Up to 20% Off</p>
        <p><b>No Cost EMI Starts From:<br>₹2,999/month</b> </p>
        <p class="payment-options">0 Down Payment</p>
        <button class="view-offers-btn">View Offers</button>
      </div>
      <div class="product-availability">
          <img src="assets/home.png" alt="Home Icon" class="icon-home" /> Sold at stores near you

        <p> <img src="assets/service.jpg" alt="Home Icon" class="icon-home" />Services at store: Exchange, Phone setup</p>
      </div>
    </div>
  </div>
  